# Directories
__pycache__/
static-collected/
wca_export/
.vscode/
.idea/
.archive/
admin/

# File formats
*.log
*.pot
*.pyc
*.swp
*.sql
*.txt

# Specific files
rubikvn.cnf
local_settings.py

# Exceptions
!requirements.txt
!vn_db_import.sql
!wca_schema.sql
!rubikvn_schema.sql
