# Directories
__pycache__/
backups/
rbvn-env/
.vscode/
.archive/

# File formats
*.log
*.pot
*.pyc
*.swp
*.sql
*.txt

# Specific files
rubikvn.cnf
local_settings.py

# Exceptions
!requirements.txt
!vn_db_export.sql
