{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %} {% endblock %} | RubikVN</title>
    {% block style %} {% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    {% block script-head %} {% endblock %}

</head>

<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#idxNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="idxNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Information</a></li>
                <li><a href="{% url 'results:index' %}">Results</a></li>
                <li><a href="{% url 'events:index' %}">Events</a></li>
                <li><a href="#">Tutorials</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
        {% block left-side %} {% endblock %}
        </div>

        <div class="col-sm-8 text-left">
        {% block main %} {% endblock %}
        </div>

        <div class="col-sm-2 sidenav">
        {% block right-side %} {% endblock %}
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <a href="https://github.com/RubikVN/RubikVNdotOrg/" target="_blank" class="btn btn-default">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://www.facebook.com/rubikvnclub/" target="_blank" class="btn btn-default">
        <i class="fab fa-facebook"></i>
    </a>
</footer>

</body>

</html>
